<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Event</title>
</head>
<body>
    <h1>Title: {{ events_json.title }}</h1>
    <p>Type: {{ events_json.type }}</p>
    <p>Address: {{ events_json.address }}</p>
    <p>Price: {{ events_json.price }}</p>
    <p>Seats: {{ events_json.seats }}</p>
    <p>Organizer Name: {{ events_json.organizerName }}</p>
    <p>Date: {{ events_json.date }}</p>
    <p>Description: {{ events_json.description }}</p>
</body>
</html>